/* @font-face {  
font-family: 'CustomFont';  
src: url('punk_kid.ttf');} 
*/

body{
    background-color: antiquewhite;
}

input {  
    width: 40%;
}

label {  
    font-family: 'Tahoma';
}
/* 2. Attribute selector */
input[type="month"] 
{  background-color: aquamarine;
}
/* 3. Universal selector */
* {  border: dashed red 1px;
}
/*  4..classname {}
    5. #idName {} */