body{
    background-color: azure;
}

label,inout,h1{
    font-family: 'noto sans';
    color:rebeccapurple
}

/*child selector selects all children of the first element*/

div>p{
    color:blue;
    background-color:brown;
}

input[type=text],
input[type=email]{
    padding:5px 5px;
    margin:8px 0;
    border:none;
    border-bottom:2 px solid purple;
}
input[type='radio']{
    width:20px;
}
textarea{
    border:4px solid purple;
}
input[type='submit']{
    background-color:purple;
    color:white;
    width:30%;
}
input[type=subject] {
    width:20px;
}
/*Adjacent sibling selector (+) - selects an element directly after another specify element*/
input[type='radio'] + label{
    color:purple;
} 